body {
background-color: #e7e7e7;
font-family: 'Space Mono', monospace;
font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.bg-image-custom {
    background-image: url('media/spazio.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}


.btn-custom {
    background-color: #5d6d7e;
    border-color: #5d6d7e;
    color: white;
}

.btn-custom:hover {
    background-color: #4a5866;
    border-color: #4a5866;
    color: white;
}

.btn-custom:active,
.btn-custom:focus {
    background-color: #3d4752;
    border-color: #3d4752;
    color: white;
}


footer {
    
    background-color: #000000;
    color: white; 
    padding: 40px 0; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: flex-start;
    position: relative;
}


.footer_links_container {
    margin-left: 50px; 
}



.footerList {
    list-style: none;
    padding: 0; 
    margin: 0;
}

.footerList h4 {
    color: white;
    margin: 5px 0;
}


.footer_personal_info {
    width: 100%; 
    order: 3;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px; 
}

.personal_info_text {
    color: #555555; 
    margin: 5px 0;
    font-family: 'Space Mono', monospace; 
    font-weight: 200;
}

.footerLogo {
width: 100px;
height: 100px;
}

.footerButton {
    position: absolute;
    bottom: 20px;
    right: 80px;
    margin-bottom: 50px;
    background-color: white;
    color: black; 
    border: 1px solid black; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px; 
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease
}

.footerButton:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px); 
}

.footerButton a {
    text-decoration: none;
    color: #000000;
    font-family: 'Space Mono', monospace; 
    font-weight: 200;
}

@media (max-width: 768px) {
    

     .footerLogo {
        width: 70px;
        height: 70px;
    }
    
    footer {
        padding: 30px 15px;
    }
    
    .footerList h4 {
        font-size: 16px;
    }
    
    .personal_info_text {
        font-size: 11px;
    }
}